* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 2em;
}

#navbar {
    display: flex;
    align-items: center;
    background-color: rgb(43, 125, 183);
}

nav {
    display: flex;
    gap: 35%;
}

h1 {
    margin-right: 50%;
}

a {
    text-decoration: none;
    color: white;
}

@media (max-width: 2257px ) {
    h1 {
        margin-right: 30%;
    }
}

@media (max-width: 1600px) {
    body {
        font-size: 1.5em;
    }
}

@media (max-width: 1160px) {
    h1 {
        margin-right: 20%;
    }
    body {
        font-size: 1.2em;
    }
}

@media (max-width: 760px) {
    body {
        font-size: 1em;
    }
    h1 {
        margin-right: 25%;
    }
    nav {
        gap: 5%;
    }
}

@media (max-width: 500px) {
    #navbar {
        flex-direction: column;
    }
}

@media (max-width: 260px) {
    body {
        font-size: 1.5em;
    }
    nav {
        flex-direction: column;
    }
}