.box {
    width: 200px;
    height: 200px;

    background-color: purple;
    border: 3px solid red;
    transition: 1s ease-in;
}

.box:hover {
    transform: translate(40px, 50px) scale(1.2) rotate(20deg);
}

/*
Transform - ცვლილება, რაიმე სახის გარდაქმნა
Translate - transform-ის ერთ-ერთი ცვლილება, მდებარეობას უცვლის ელემენტს
Transition - გადასვლა
*/

.container {
    margin-top: 50px;
    width: 200px;
    height: 200px;

    background-color: rgb(16, 116, 54);
    border: 3px solid blue;
    box-shadow: 0px 0px 10px green;
    transition: 400ms ease-in;
    transition-duration: box-shadow;
}

.container:hover {
    box-shadow: 0px 0px 30px green;
}