@keyframes load {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
}

#frame {
    background-color: rgba(128, 128, 128, 0.25);
    width: 300px;
    height: 25px;
    
    border-radius: 20px;
}

#loadingBar {
    height: 100%;
    background-color: white;
    box-shadow: 0 1px 4px white;
    animation-name: load;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    border-radius: 20px;
}
