* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 5em;
    color: red;
}

h1 {
    margin-bottom: 10%;
}

@media (500px <= width <= 900px) {
    body {
        font-size: 3em;
        color: purple;
    }
} 
